body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.login-container h1 {
    text-align: center;
    color: #333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #5e5cb8;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #212183;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 100px; /* Adjust as necessary */
}

.subtitle {
    text-align: center;
    color: #666;
    font-size: 14px;
    margin: 6px 0 14px;
}

.support-text {
    text-align: center;
    color: #666;
    font-size: 12px;
    margin-top: 16px;
}